ul{
	list-style-type:None;
	-webkit-padding-start:0px;
	-moz-padding-start:0px;
	-webkit-margin-before:0px;
}

div.container{
	width:1200px;
	position:relative;
	margin:0 auto;
}

div.confBtns{
	width:900px;
	margin:5px auto;
}

div.confBtn{
	width:200px;
	background-color:lightGreen;
	float:left;
	border-left:1px solid black;
	padding:5px;
	text-align:center;
}

div#sidebar{
    position:fixed;
    width:200px;
    height:100%;
    background-color:darkGrey;
    top:0px;
    left:-180px;
    transition:left 1s;
}

div#sidebar:hover{
    left:0px;
}

div#sidebar div.sidebar-title{
    margin:0px 20px;
    font-size:18px;
}

div#sidebar img.sidebar-icon{
    position:absolute;
    right:0px;
    top:0px;
    width:20px;
    height:20px;
}

div#sidebar ul.sidebar-list{
    width:100%;
    padding-top:10px;
}

div#sidebar li{
    margin:0px 20px 5px 20px;
}    

div#sidebar p.sidebar-button{
    text-align:center;
    padding:5px;
    width:100%;
    box-sizing:border-box;
    background-color:ivory;
}

div#sidebar p.sidebar-button:hover{
    padding:4px;
    border:1px solid black;
}

div#sidebar p.sidebar-button.active-screen{
    padding:4px;
    border:1px solid black;
    background-color:deepSkyBlue;
}

div#sidebar p#button-save{
    background-color:lightGreen;
}

svg.layout{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	position:relative;
	margin-top:5px;
	background-color:#9BF;
	width:1000px;
	height:800px;	
}

.link{
	stroke:#000;
	stroke-width: 1.5px;
}

.node{
	fill:lightBlue;
	stroke:black;
	stroke-width: 1.5px;
}

.link.dm0{
	stroke:blue;
}
.link.dm1{
	stroke:green;
}
.link.dm2{
	stroke:orange;
}
.link.dm3{
	stroke:purple;
}
.link.dm4{
	stroke:yellow;
}

text.label{
	pointer-events:none;
	font-size:10px;
	text-anchor:middle;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.stateBar{
	position:relative;
	float:right;
	margin:5px;
	background-color:lightBlue;
	border:1px solid black;
	border-bottom:none;
	width:175px;
}

div.state{
	border-bottom:1px solid black;
}

div.state:hover{
	background-color:cornflowerBlue;
}
	
div.state svg{
	width:25px;
	height:25px;
	margin:3px;
}

div.state span{
	position:relative;
	bottom:9px;
}