li.option {
	list-style:none;
	height:60px;
	width:300px;
	background-color:lightBlue;
	position:relative;
}

li.option img{
	position:relative;
	height:40px;
	width:40px;
	border:3px solid black;
	border-radius:10px;
	margin:7px;
	padding:0;
}

li.option input.optName{
	position: absolute;
	background-color:lightBlue;
	border:none;
	margin:5px;
	font-weight:bold;
	font-size:16px;
}

li.option input.optName:hover{
	position: absolute;
	background-color:lightBlue;
	border:1px solid black;
	margin:5px;
	font-weight:bold;
	font-size:16px;
}

li.option div.optDetails{
	position:absolute;
	margin:5px;
	bottom:0;
}
